#Supabase Config

SUPABASE_URL=
SUPABASE_ANON_KEY=

#JWT CONFIG

JWT_SECRET=


# Email Configuration (Gmail example)
EMAIL_USER=monferovon@gmail.com


#Google Config Desktop
GOOGLE_DESKTOP_CLIENT_ID=
GOOGLE_DESKTOP_CLIENT_SECRET=


# Google Maps Api Key
GOOGLE_MAPS_API_KEY=

# Server Configuration
PORT=
NODE_ENV=

 
# CORS Configuration
CORS_ORIGIN=

