#JWT CONFIG

JWT_SECRET=

# Email Configuration (Gmail example)

#Google Config Desktop
GOOGLE_DESKTOP_CLIENT_ID=
GOOGLE_DESKTOP_CLIENT_SECRET=


# Google OAuth2 Credentials Web Application
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_ACCESS_TOKEN=
EMAIL_USER=


# Supabase Config
SUPABASE_URL = 
SUPABASE_ANON_KEY =

# Server Configuration
PORT=
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=